<template>
    <div class="Select" :class="showDropdown ? 'showDropdown' : ''" >
        <div class="message">
            <span style="opacity: 0.8;" v-if="!loading">{{componentOptions.length}} antall valgalternativer funnet</span>
            <span style="opacity: 0.8;" v-if="loading">Laster inn flere...</span>
        </div>
        <!-- Selected holder -->
        <div class="selectedHolder">
            <p>
                <!-- Placeholder -->
                <span class="placeholder" v-if="!hasSelectedOptions && !config.general.search" style="opacity: 0.6;" @click="toggleDropdown()">Select a thing</span>
                <input v-if="!hasSelectedOptions && config.general.search" type="text" placeholder="Search a thing" class="search" v-model="query" @click="toggleDropdown()" v-on:keyup="handleSearch()" v-on:blur="blurSelect()" /> 
                <SvgIcon
                    :path="'M15.2 19.5l-5.4-5.4c-.4-.4-.4-1.1 0-1.5.4-.4 1.1-.4 1.5 0l4.6 4.6 4.6-4.6c.4-.4 1.1-.4 1.5 0 .2.2.3.5.3.8 0 .3-.1.5-.3.8l-5.4 5.4c-.3.3-1 .3-1.4-.1z'"
                    :size="'25px'" 
                    :color="'#000000'" 
                    @click="toggleDropdown()"
                    style="position:absolute;right:6px;top:0px;height: 100%;right: 0; border-radius: 1px 4px 4px 0px;"

                />

                <!-- Selected -->
                <span v-if="selectedOption && !config.general.multiSelect" class="main">
                    <span>{{config.option.label(selectedOption)}}</span>
                    <i style="margin-left: auto;" @click="clearSelect">X</i>
                </span>
                <!-- Multiple selected options -->
                <span v-if="selectedOptions.length > 0 && config.general.multiSelect" class="mainOptions" >
                    <span class="main multi" v-for="selectedOpt in trimmedSelectedOptions" :key="selectedOpt.id">
                        <span>{{config.option.label(selectedOpt)}}</span>
                        <i @click="clearSelect(selectedOpt.id)">X</i>
                    </span>
                    <span 
                        v-if="selectedOptions.length > 2" 
                        style="font-size: 10px;"
                    >{{`+ ${selectedOptions.length-2}`}}</span>
                </span>
            </p>
        </div>
        <!-- Options holder -->
        <div class="options"
            @scroll="handleScroll"
        >
            <div
                class="option"
                :class="{selected: optionSelected(option.id)}"
                v-for="option in filteredOptions"
                :key="option.id"
                @click="selectOption(option)"
            >
                {{config.option.label(option)}}
            </div>
            <div class="option" v-if="filteredOptions.length === 0">
                <span style="opacity: 0.6;">Ingen alternativer funnet</span>
            </div>
        </div>
        <!-- -->
        <input 
            type="text" 
            :name="name" 
            class="hiddenSelectedOption" 
            v-validate="config.general.validation" 
            :value="selected" 
            style="display: none;"
        />
        <!-- Errors -->
        <span style="padding: 10px 5px; display: block;">{{ errors.first(name) }}</span>
    </div>
</template>

<script>
import scroll from './../../../helpers/scroll.js'
import SvgIcon from './../../Atoms/Icon/SvgIcon'
export default {
    name: 'DynamicSelect',
    props: {
        'options': Array,
        'config': Object,
        'name': String
    },
    inject: ['$validator'],
    components: {
        SvgIcon
    },
    data() {
        return {
            loading: true,
            showDropdown: false,
            selectedOption: null,
            selectedOptions: [],
            componentOptions: [],
            query: '',
            placeholder: 'Plassholder'
        }
    },
    mounted() {
        this.loadData();
    },
    computed: {
        filteredOptions() {
            const query = this.query.toLowerCase();
            const { config } = this;
            const search = this.config.general.search;
            if(!query || search !== 'filter') {
                return this.options
            }
            console.log('Not filter');
            return this.options.filter(o => {
                let label = config.option.label(o).toLowerCase();
                //console.log(' label ',label,query);
                return label.includes(query)
            });
        },
        hasSelectedOptions() {
            if(this.config.general.multiSelect) {
                return (this.selectedOptions.length > 0) ? true : false
            }
            return this.selectedOption
        },
        trimmedSelectedOptions() {
            const trimmed = this.selectedOptions.filter((o,i) => i < 2);
            console.log(' trimmed ',trimmed);
            return trimmed
        },
        selected() {
            if(this.config.general.multiSelect) {
                return this.selectedOptions
            }
            return this.selectedOption
        }
    },
    methods: {
        loadData() {
            console.log(' Config ',this.config);
            let endpoint = `${this.config.general.store}/getAll`;
            this.$store.dispatch(endpoint)
            .then((dataOptions) => {
                console.log(' dataOptions ',dataOptions)
                this.loading = false;
                this.componentOptions = dataOptions;
            })
            .catch(e => {
                console.error(e);
            })
        },
        searchData() {
            console.log(' search data query ',this.query);

            let endpoint = `${this.config.general.store}/searchAll`;
            this.$store.dispatch(endpoint,this.query)
            .then((dataOptions) => {
                this.loaded = false;
                this.componentOptions = dataOptions;
            });
        },
        selectOption(option) {
            this.query = '';
            this.showDropdown = false;
            this.selectedOption = option;
            if(!this.config.general.multiSelect) {
                // Emit change 
                this.$emit('input',option.id);
                return
            }
            console.log(' option ',option,this.selectedOptions);
            this.selectedOptions.push(option)
        },
        clearSelect(id) {
            this.selectedOption = null;
            if(this.config.general.multiSelect) {
                this.selectedOptions = this.selectedOptions.filter(opt => opt.id !== id);
                return
            }
            this.$emit('input','');
        },
        blurSelect() {
            console.log(' blurSelect ');
            //e.preventDefault();
            //this.toggleDropdown(false);
            //this.query = '';
            /*
                const component = this;
                setTimeout(function() {
                    component.toggleDropdown(false)
                    component.query = '';
                },500);
            */
        },
        toggleDropdown(value) {
            if(value) {
                this.showDropdown = value;
                return
            }
            this.showDropdown = !this.showDropdown;
        },
        handleSearch() {
            this.toggleDropdown(true);
            if(this.config.general.search !== 'filter') {
                // if search, query backend
                this.searchData();
                console.log(' this.config.search ',this.config.general.search);
            }

        },
        optionSelected(id) {
            if(this.config.general.multiSelect) {
                return this.selectedOptions.filter(opt => opt.id === id).length > 0
            }
            return this.selectedOption ? this.selectedOption.id === id : false
        },
        handleScroll(e) {
            console.log('Scroll event')
            if(this.config.general.search === 'filter') {
                return
            }

            // Criteria
                /*
                    1. Number of total results is bigger than max for list
                    2. Is using backend instead of being passed options
                    3. Is not already loading
                */
            const bottom = scroll.hasReachedBottom(e);
            if(bottom && !this.loading) {
                console.log(' handleScroll bottom reached ');
                const storeModule = this.config.general.store;
                // Trigger next page event update
                this.$store.commit(`${storeModule}/updatePage`);
                // Trigger data reload
                this.loadData();
            }
        }
    }
}
</script>

<style lang="scss" scoped>
div.Select {
    width: 100%;
    position: relative;
    margin: 30px 0;
    div {
        &.message {
            position: absolute;
            top: -28px;
            padding: 4px 10px 1px 10px;
            border-radius: 4px 4px 0px 0px;            
        }
        &.selectedHolder {
            border: 1px solid;
            border-radius: 4px 4px 0 0;
            position: relative;
            p {
                display: flex;
                margin: 0;
                //padding: 1em;
                span {

                    &.main {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 1em;
                        font-size: 18px;
                        cursor: pointer;
                        i {
                            font-style: normal;
                            margin-left: auto;
                            background: #22272d;
                            padding: 6px 9px;
                            font-size: 10px;
                            color: white;
                            border-radius: 16px;
                        }
                        &.multi {
                            width: unset;
                            font-size: 10px;
                            padding: 0.5em;
                            i {
                                margin-left: 8px;
                                padding: 2px 4px;
                                font-size: 8px;                                
                            }
                        }
                    }
                    &.placeholder {
                        opacity: 0.6;
                        padding: 1em;
                        width: 100%;
                        cursor: pointer;
                    }
                    &.mainOptions {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;                        
                    }
                }
                input.search {
                    border: none;
                    font-size: 18px;
                    font-size: 11px;
                    opacity: 0.6;
                    width: 100%;
                    padding: 1em;
                    padding: 0.5em;
                    &:focus {
                        outline: none;
                    }                    
                }
            }          
        }
        &.options {
            //height: 200px;
            overflow: scroll;
            border: 1px solid;
            border-top: none;
            border-bottom: none;
            box-sizing: border-box;
            width: inherit;

            //height: 0;
            display: none;
            transition: 0.3s;


            position: absolute;
            z-index: 100;
            background: white;            
            div {
                &.option {
                    padding: 1em;
                    cursor: pointer;
                    &.selected {
                        background: lightblue;
                    }
                    &:hover {
                        background: blue;
                        transition: 0.2s;
                        color: white;
                    }
                }
            }
        }
    }
    &.showDropdown {
            div {
                &.options {
                    max-height: 200px;
                    //height: 200px;
                    //min-height: min-content;
                    min-height: 54px;                    
                    border-bottom: 1px solid;
                    display: block;
                }
            }
    }
}
</style>