<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    :width="size"
    :height="size"
    :title="tooltip"
    viewBox="0 0 32 32"
    @mouseenter="toggleHover"
    @mouseleave="toggleHover"
  >
    <path v-for="(path,i) in paths" :key="i"  :fill="iconColor" :d="path" />

    <slot></slot>
    
  </svg>
</template>

<script>
export default {
    name: 'MultiPathIcon',
    props: {
        size: String,
        color: String,
        hoverColor: String,
        viewbox: String,
        paths: Array,
        tooltip: String
    },
    data() {
      return {
        hover: false
      }
    },
    methods: {
      toggleHover() {
        console.log('toggleHover')
        this.hover = !this.hover
      }
    },
    computed: {
      iconColor() {
        if(!this.hoverColor) {
          return this.color
        }
        return this.hover ? this.hoverColor : this.color
      }
    }
}
</script>

<style lang="scss">
svg {
    &:hover {
        path {
            transition: .8s;
        }
    }
}
</style>