<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    :width="size"
    :height="size"
    :title="tooltip"
    viewBox="0 0 32 32"
    v-on="$listeners"
  >
    <path :fill="iconColor" :d="path" />

    <slot></slot>
    
  </svg>
</template>

<script>
export default {
    name: 'Icon',
    props: ['size','color','hoverColor','viewbox','path','tooltip'],
    data() {
      return {
        hover: false
      }
    },
    methods: {
      toggleHover() {
        console.log('toggleHover')
        this.hover = !this.hover
      }
    },
    computed: {
      iconColor() {
        if(!this.hoverColor) {
          return this.color
        }
        return this.hover ? this.hoverColor : this.color
      }
    }
}
</script>

<style lang="scss">
svg {
    &:hover {
        path {
            opacity: 0.8;
            transition: .8s;
            fill: grey;
        }
    }
}
</style>