<template>
    <div>
        <p>Multi select</p>
        <MainSelect 
            :config="config"
            :options="options"
        />
    </div>
</template>

<script>
import subs from './../../assets/data/subscriptions.json'
import MainSelect from '../../components/Organisms/Select/Main'

export default {
    components: {
        MainSelect
    },
    data() {
        return {
            options: subs
        }
    },
    computed: {
        config() {
            return {
                option: {
                    'label':(item) => {
                        let account = `${item.user.personUser.firstName} ${item.user.personUser.lastName}`;
                        return account
                    }
                },
                general: {
                    store: 'subscriptions',
                    search: 'filter', //true,
                    searchFilter: false,
                    multiSelect: true
                } 
            }
        }
    }
}
</script>