<template>
  <div id="app">
    <div class="icons">
      <h2>Ikoner</h2>
      <p>Only works for single path icons</p>
      <label for="iconColorSelector">Velg ikon farge
        <input type="color" v-model="iconColor" id="iconColorSelector" style="border: none;" />
      </label>
      <label for="iconSizeSelector">Velg ikon størrelse
        <input type="range" v-model="iconSize" id="iconSizeSelector" style="border: none;" />
      </label>
      <div class="iconOverview">
        <Icon 
              v-for="(icon,i) in icons" 
              :key="i" :path="icon" 
              :size="iconSize" 
              :color="iconColor" 
              viewBox="0 0 32 32" 
              style="margin: auto 8px;" 
              @click="iconSelect"
        />
      </div>
      <p>Multi path icons - only works with correct viewboxes</p>
      <div class="iconOverview">
        <MultiPathIcon
          v-for="(icon, i) in multiPathIcons"
          :key="i"
          :paths="icon"
          :size="iconSize" 
          :color="iconColor" 
          style="margin: auto 8px;" 
        />
      </div>
    </div>
    <!--
    <a href="/skjema">Skjema</a>
    <Form />
    <a href="/liste">Liste</a>
    -->

    <div>
      <h2>List</h2>
      <h3>Generert basert på liste med nøkler og datasett.</h3>
      <p>Liste over mobil enheter</p>
      <p>{{selectedUnits.length}} valgte av {{lists.first.items.length}} enheter</p>
      <div class="added">
        <span v-for="selectedUnit in selectedUnits" :key="selectedUnit.id">{{selectedUnit.Mobil}} - {{selectedUnit.Farge}}</span>
      </div>
      <List
        :keys="lists.first.keys"
        :filters="lists.first.filters"
        :items="lists.first.items"
      />
      <p>Liste over abonnement</p>
      <i>Basert på data fra min bedrift</i>
      <List
        :keys="lists.second.keys"
        :filters="lists.second.filters"
        :items="lists.second.items"
      />

      <h3>Generert liste som bruker slots for ikoner</h3>

      <SlotList
        :keys="lists.first.keys"
        :filters="lists.first.filters"
        :items="lists.first.items"
      >
      </SlotList>

      <h3>Generert liste m/ slots og som håndterer ulike datastrukturerer</h3>

      <SlotList
        :keys="lists.second.keys"
        :filters="lists.second.filters"
        :items="lists.second.items"
      >
      </SlotList>

      <h3>Paginert liste med dynamisk innlastning og select.</h3>
    </div>
  </div>
</template>

<script>
//import Items from './assets/data/items.json'
import items from '../../assets/data/_items.json'
import subscriptions from '../../assets/data/subscriptions.json'
import {icons,multiPathIcons} from '../../assets/constants.js'
import Icon from '../../components/Atoms/Icon/SvgIcon.vue'
import MultiPathIcon from '../../components/Atoms/Icon/MultipathSVGIcon.vue'
import List from '../../components/Organisms/Lists/List.vue'
import SlotList from '../../components/Organisms/Lists/DynamicListwithSlots.vue'


const list1 = {
  keys: ['Mobil','Farge','Pris','Abonnement'],
  filters: [
    {
      key: 'Mobil',
      values:[
        {
          value: 'iPhone',selected: false
        },
        {
          value: 'Samsung',selected: false
        },
        {
          value: 'Huawei',selected: false
        },
        {
          value: 'Blackberry',selected: false
        },
        {
          value: 'Asus',selected: false
        },
        {
          value: 'Pixel',selected: false
        }
      ]
    },
    {
      key: 'Farge', 
      values: [
        {
          value: 'Sort',
          selected: false
        },
        {
          value: 'Hvit',
          selected: false
        },
        {
          value: 'Blå',
          selected: false
        },
        {
          value: 'Grønn',
          selected: false
        },
        {
          value: 'Rød',
          selected: false
        },
        {
          value: 'Sølv',
          selected: false
        },
        {
          value: 'Gull',
          selected: false
        }
      ]
    }
  ],
  items: items
};

const list2 = {
  keys: ['mobileNumber','suspended','user'],
  filters: [],
  items: subscriptions
}


export default {
  name: 'app',
  components: {
    //Form,
    List,
    SlotList,
    Icon,
    MultiPathIcon
  },
  computed: {
    selectedUnits() {
      return this.lists.first.items.filter(item => item.selected)
    }
  },
  data() {
    return {
      icons: icons,
      multiPathIcons: multiPathIcons,
      iconColor: '#000000',
      iconSize: '36',
      lists: {
        first: list1,
        second: list2
      }
    }
  },
  methods: {
    iconSelect() {
      alert('Du valgte ikonet.');
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

div.icons {
  display: flex;
  flex-direction: column;
  div {
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;      
    }
    &.iconOverview {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }
}

div.added {
  display: flex;
  span {
    padding: 2px 8px;
    background: lightblue;
    border-radius: 4px;
    color: white;
    margin: auto 4px;
  }
}
</style>

