<template>
    <button v-on="$listeners">
        <slot></slot>
    </button>
</template>

<style lang="scss" scoped>
button {
    border: none;
    background: #4141bb;
    color: white;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 4px;
}
</style>