<template>
    <button v-on="$listeners">
        <slot></slot>
    </button>
</template>

<style lang="scss" scoped>
button {
    border: none;
    background: 0 0;
    border: 1px solid rgba(93,129,0,.5);
    color: #5d8100;
    font-size: 12px;
    padding: 4px 8px;
    padding: 11px 15px;
    border-radius: 5px;
    a {
        color: inherit;
        text-decoration: none;
    }
}
</style>