<template>
    <div class="filters">
        <ul class="filters" v-for="filter in filters" :key="filter.key">
            <p class="header">Filtrer etter {{filter.key.toLowerCase()}}</p>
            <li v-for="opt in filter.values.filter((f,i) => showAllFilterValues ? true : i < 4)" :key="opt.value">
                <input type="checkbox" v-model="opt.selected" />
                {{opt.value}}
            </li>
            <button v-if="filter.values.length > 8" @click="toggleShowAllFilterValues()">{{showAllFilterValues ? 'Skjul alle' : 'Vis alle'}}</button>
        </ul>
    </div>
</template>

<script>
export default {
    props: [
        'filters'
    ],
    data() {
        return {
            showAllFilterValues: false
        }
    },
    methods: {
        toggleShowAllFilterValues() {
            this.showAllFilterValues = !this.showAllFilterValues
        }
    }
}
</script>

<style lang="scss" scoped>
div.filters {
    ul {
        display: flex;
        padding-left: 0;
        &.filters {
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            li {
                //margin: 0 8px;
                list-style: none;
                &.header {
                    background: lightgrey;
                }
            }
            p.header {
                width: 100%;
            }
        }
    }
}
button {
    padding: 10px;
    border-radius: 4px;
    margin-top: 8px;
    border: none;
    &:focus {
        outline: none;
    }    
}
</style>