<template>
    <label :for="name">
        <input type="radio" :id="name" :value="name" v-bind:general.sync="general" >
    {{label}} - {{general}}</label>
</template>

<script>
export default {
    name: 'RadioButton',
    props: ['name','label','general']
}
</script>