<template>
    <select name="fallbackSelect" class="fallbackSelect" >
        <option v-if="placeholder" data-placeholder value>{{ placeholder }}</option>
        <option
            v-for="option in options"
            :key="option.id"
        >
            {{option.label}}
        </option>
    </select>
</template>

<script>
export default {
    name: 'BasicSelect',
    props: {
        options: Array,
        placeholder: String
    },
    methods: {

    },
    computed: {

    }
}
</script>