<template>
  <div id="app">

    <div>
      <h2>List</h2>
      <h3>Generert basert på liste med nøkler og datasett.</h3>
      <p>Liste over mobil enheter</p>
      <p>{{selectedUnits.length}} valgte av {{lists.first.items.length}} enheter</p>
      <div class="added">
        <span v-for="selectedUnit in selectedUnits" :key="selectedUnit.id">{{selectedUnit.Mobil}} - {{selectedUnit.Farge}}</span>
      </div>
      <List
        :keys="lists.first.keys"
        :filters="lists.first.filters"
        :items="lists.first.items"
      />
      <p>Liste over abonnement</p>
      <i>Basert på data fra min bedrift</i>
      <List
        :keys="lists.second.keys"
        :filters="lists.second.filters"
        :items="lists.second.items"
        
      />

      <h3>Generert liste som bruker slots for ikoner</h3>

      <SlotList
        :keys="lists.first.keys"
        :filters="lists.first.filters"
        :items="lists.first.items"
      >
      </SlotList>

      <h3>Generert liste m/ slots og som håndterer ulike datastrukturerer</h3>

      <SlotList
        :keys="lists.second.keys"
        :filters="lists.second.filters"
        :items="lists.second.items"
      >
      </SlotList>

      <h3>Paginert liste med dynamisk innlastning og select.</h3>

      <h3>Liste med konfigurasjonsobjekt</h3>

      <ConfigurableList
        :keys="lists.second.keys"
        :headers="lists.second.headers"
        :filters="lists.second.filters"
        :items="lists.second.items"
        :config="listConfig"
      />

    </div>
    <a href="https://gitlab.com/Amanej/telenor-vue" style="position: absolute; right: 16px; top: 16px;">Repo</a>
  </div>
</template>

<script>
import items from '../../assets/data/_items.json'
import subscriptions from '../../assets/data/subscriptions.json'
import List from '../../components/Organisms/Lists/List.vue'
import SlotList from '../../components/Organisms/Lists/DynamicListwithSlots.vue'
import ConfigurableList from '../../components/Organisms/Lists/DynamicListWithConfigurableConfig.vue'


const list1 = {
  keys: ['Mobil','Farge','Pris','Abonnement'],
  filters: [
    {
      key: 'Mobil',
      values:[
        {
          value: 'iPhone',selected: false
        },
        {
          value: 'Samsung',selected: false
        },
        {
          value: 'Huawei',selected: false
        },
        {
          value: 'Blackberry',selected: false
        },
        {
          value: 'Asus',selected: false
        },
        {
          value: 'Pixel',selected: false
        }
      ]
    },
    {
      key: 'Farge', 
      values: [
        {
          value: 'Sort',
          selected: false
        },
        {
          value: 'Hvit',
          selected: false
        },
        {
          value: 'Blå',
          selected: false
        },
        {
          value: 'Grønn',
          selected: false
        },
        {
          value: 'Rød',
          selected: false
        },
        {
          value: 'Sølv',
          selected: false
        },
        {
          value: 'Gull',
          selected: false
        }
      ]
    }
  ],
  items: items
};

const list2 = {
  keys: ['mobileNumber','suspended','user'],
  headers: [
    {key: 'mobileNumber', label: "Mobilnummer"},
    {key: 'suspended', label: 'Suspendert'},
    {key: 'user', label: 'Bruker'}
  ],
  filters: [],
  items: subscriptions
}


export default {
  name: 'MainListPage',
  components: {
    List,
    SlotList,
    ConfigurableList
  },
  computed: {
    listConfig() {
      console.log(this);

      return {
        'mobileNumber':(value) => {
          console.log(' mobileNumber ',value);
          let cell = {
            value: '',
            icon: null,
            tooltip: null,
            input: null,
            link: null
          };
          if(value.secret) {
            cell.value = 'Hemmelig'
            return cell
          }
          cell.value = value.number
          return cell
        },
        'suspended':(value) => {
          console.log(' suspended ',value);
          let cell = {
            value: '',
            icon: null,
            tooltip: null,
            input: null,
            link: null
          };
          cell.value = value ? 'Suspendert' : 'Ikke suspendert'
          return cell
        },
        'user':(value,item) => {
          console.log(' user ',value, item);
          let cell = {
            value: '',
            icon: null,
            tooltip: null,
            input: null,
            link: null
          };          
          cell.value = `${value.personUser.firstName} ${value.personUser.lastName}`;
          cell.icon = 'account'
          cell.tooltip = 'Her er din tooltip'
          if(item) {
            cell.link = `/bruker/${item.id}`
          }
          return cell
        },
        'general': {
          toggleAll: false
        }
      }
    },
    selectedUnits() {
      return this.lists.first.items.filter(item => item.selected)
    }
  },
  data() {
    return {
      lists: {
        first: list1,
        second: list2
      }
    }
  },
  methods: {

  }
}
</script>

<style lang="scss">

</style>

