<template>
    <div>
        <h1>Paginated list</h1>
        <p>{{subs.length}} abonnement</p>
        <Paginated
            :items="$store.state.subscriptions.all"
            :loaded="loaded"
            v-on:updatePage="updatePage"
            v-on:getData="getData"
            v-on:reloadData="reloadData"
        />
    </div>
</template>

<script>
import Paginated from '../../components/Organisms/Lists/PaginatedList'
export default {
    components: {
        Paginated
    },
    data() {
        return {
            loaded: true
        }
    },
    computed: {
        subs() {
            //return this.$store.subscriptions.all
            //console.log(this.$store.state.subscriptions.all);
            //return []
            return this.$store.state.subscriptions.all
        }
    },
    mounted() {
        this.getData();
    },
    methods: {
        getData() {
            this.$store.dispatch('subscriptions/getAll');
        },
        reloadData() {
            console.log('haha');
        },
        updatePage() {
            this.$store.commit('subscriptions/updatePage');
        }
    }
}
</script>
