<template>
    <div>
        <h1>Paginated list</h1>
        <p>{{items.length}} abonnement</p>
        <Paginated
            :items="items"
            :loaded="loaded"
            v-on:updatePage="updatePage"
            v-on:getData="getData"
            v-on:reloadData="reloadData"
        />
    </div>
</template>

<script>
import Paginated from '../../components/Organisms/Lists/PaginatedList'
export default {
    components: {
        Paginated
    },
    data() {
        return {
            items: [],
            loaded: false,
            page: 0
        }
    },
    mounted() {
        this.getData();
    },
    methods: {
        getData() {
            // url - https://cryptic-ocean-68453.herokuapp.com/?page=2

            //console.log(' this ',this);
            //this.$store.dispatch('subscriptions/getAll');

            this.axios.get(`https://cryptic-ocean-68453.herokuapp.com/?page=${this.page}`)
            .then(r => {
                let items = this.items;
                items = items.concat(r.data.data)
                this.items = items;
                this.loaded = true;
            })
            .catch(e => {
                console.error('error ',e);
            })
        },
        reloadData() {
            this.items = [];
            this.loaded = false;
            this.axios.get(`https://cryptic-ocean-68453.herokuapp.com/?page=${this.page}`)
            .then(r => {
                this.items = r.data.data;
                this.loaded = true;
            })
            .catch(e => {
                console.error('error ',e);
            })
        },
        updatePage() {
            this.page+=1;
        }
    }
}
</script>
