<template>
    <div>
        <div>
            <p>{{$store.state.subscriptions.selectedSubscriptions.length}} valgte abonnement</p>
            <ConfigurableList
                :keys="list.keys"
                :headers="list.headers"
                :filters="[]"
                :items="$store.state.subscriptions.all"
                :config="listConfig"
            />
        </div>
        
        <div>
            <p>{{$store.state.simcards.selectedSimCards.length}} valgte sim kort</p>
            <ConfigurableList
                :keys="simcardsList.keys"
                :headers="simcardsList.headers"
                :filters="[]"
                :items="$store.state.simcards.all"
                :config="simcardsListConfig"
            />
        </div>
        
    </div>
</template>

<script>
import ConfigurableList from '../../components/Organisms/Lists/CompleteList.vue'

function cell(value, icon, tooltip, input, link, action) {
    this.value = value;
    this.icon = icon;
    this.year = tooltip;
    this.input = input;
    this.link = link;
    this.action = action;
}


export default {
    components: {
        ConfigurableList
    },
    data() {
        return {
            list: {
                keys: ['input','mobileNumber','user','account'],
                headers: [
                    {key: 'input',label: 'Velg'},
                    {key: 'mobileNumber',label: 'Mobilnummer'},
                    {key: 'user', label:'Bruker'},
                    {key: 'account', label:'Konto'}
                ]
            },
            simcardsList: {
                keys: ['input','type','mobileNumber','status','subscriptionId'],
                headers: [
                    {key: 'input',label: 'Velg'},
                    {key: 'type',label: 'Type'},
                    {key: 'mobileNumber', label:'Mobilnummer'},
                    {key: 'status', label:'Status'},
                    {key: 'subscriptionId', label:'Abonnement Id'}
                ]                
            }
        }
    },
    mounted() {
        //this.getData();
    },
    computed: {
        listConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'mobileNumber':(value) => {
                    //console.log(' mobileNumber ',value);
                    let mobileCell = new cell('',null,null,null,null,null);
                    if(value.secret) {
                        mobileCell.value = 'Hemmelig'
                        return mobileCell
                    }
                    mobileCell.value = value.number
                    return mobileCell
                },
                'account':(value) => {
                    let cellValue = `${value.accountNumber} - REF: ${value.firstAccountReference.referenceText}`;
                    let accountCell = new cell(cellValue,null,null,null,null);
                    return accountCell
                },
                'user':(value,item) => {
                    let userCell = new cell('',null,null,null,null);

                    userCell.value = `${value.personUser.firstName} ${value.personUser.lastName}`;
                    userCell.icon = 'account'
                    userCell.tooltip = 'Her er din tooltip'
                    userCell.input = 
                    userCell.action = ""
                    if(item) {
                        userCell.link = `/bruker/${item.id}`
                    }
                    return userCell
                },
                'general': {
                    store: 'subscriptions',
                    label: 'abonnementer',
                    toggleAll: false
                }       
            }
        },
        simcardsListConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'type':(value) => {
                    let typeCell = new cell(value,null,null,null,null,null);
                    return typeCell
                },
                'mobileNumber':(value) => {
                    //console.log(' mobileNumber ',value);
                    let mobileCell = new cell('',null,null,null,null,null);
                    if(value.secret) {
                        mobileCell.value = 'Hemmelig'
                        return mobileCell
                    }
                    mobileCell.value = value.number
                    return mobileCell
                },
                'status':(value) => {
                    let statusCell = new cell(value,null,null,null,null);
                    return statusCell
                },
                'subscriptionId':(value) => {
                    let subscriptionIdCell = new cell(value,null,null,null,null);
                    return subscriptionIdCell
                },
                'general': {
                    store: 'simcards',
                    label: 'simkort',
                    toggleAll: false
                }
            }
        }
    },
    methods: {
    }
}
</script>


<style lang="scss" scoped>

</style>