<template>
<div>
    <h3>Fra / til abonnement</h3>
    <p>Her kan du endre abonnement fra til.</p>
    <!--{{myForm}}-->
    <form @submit="onSubmit" v-if="!submitted">
        <MainSelect 
                :config="fromConfig"
                :options="$store.state.subscriptions.all"
                v-model="myForm.fromId"
                :value="myForm.fromId"
                name="Fra"
        />
        <MainSelect 
                :config="toConfig"
                :options="$store.state.subscriptions.all"
                v-model="myForm.toId"
        />
        <Button
            type="submit"
        >Endre</Button>
    </form>
    <div v-if="submitted">
        <p>Abonnementet oppdatert!</p>
    </div>
</div>
</template>

<script>
import MainSelect from '../../../components/Organisms/Select/Main.vue'
//import MySelect from '../../../components/Atoms/Inputs/Select.vue'
import Button from '../../../components/Atoms/Buttons/Button.vue'
export default {
    components: {
        MainSelect,
        Button
    },
    data() {
        return {
            myForm: {
                fromId: '',
                toId: ''
            },
            submitted: false,
            testOpts: [{id: 2899283, label: "Eksempel"},{id: 2499283, label: "Eksempelvis"},{id: 2899245, label: "Eksempler"}]
        }
    },
    computed: {
        fromConfig() {
            return {
                option: {
                    'label':(item) => {
                        let account = `${item.account.accountNumber} - ${item.user.personUser.firstName} ${item.user.personUser.lastName}`;
                        return account
                    }
                },
                general: {
                    store: 'subscriptions',
                    search: true, //'filter', //true,
                    searchFilter: false,
                    multiSelect: false,
                    validation: 'required'
                }
            }
        },
        toConfig() {
            return {
                option: {
                    'label':(item) => {
                        let account = `${item.account.accountNumber} - ${item.user.personUser.firstName} ${item.user.personUser.lastName}`;
                        return account
                    }
                },
                general: {
                    store: 'subscriptions',
                    search: true, //'filter', //true,
                    searchFilter: false,
                    multiSelect: false
                }
            }
        }
    },
    methods: {
        onSubmit(e) {
            console.log(' Event ',e);
            e.preventDefault();
            this.$validator.validateAll()
            .then((result) => {
                console.log('Validated ',result);
                console.log(' Skjema ',this.myForm);
            });
            /*
            let validate = e.target.validate();
            console.log(' validate ',validate);
            */
            /*
                const component = this;
                this.submitted = true;
                setTimeout(() => {
                    this.submitted = false;
                },1500);
                return
            */
        }
    }
}

</script>