<template>
    <div style="width: 300px;">
        <h3>Opprett nytt abonnement</h3>
        <div>
            <p>Velg fra konto - backend søk</p>
            <MainSelect 
                :config="config"
                :options="$store.state.subscriptions.all"
            />
        </div>
        <div>
            <p>Velg fra konto - filter søk</p>
            <MainSelect 
                :config="secondaryConfig"
                :options="$store.state.subscriptions.all"
            />
        </div>
    </div>
</template>

<script>
import MainSelect from '../../../components/Organisms/Select/Main.vue'
export default {
    components: {
        MainSelect
    },
    computed: {
        config() {
            return {
                option: {
                    'label':(item) => {
                        let account = `${item.account.accountNumber} - ${item.user.personUser.firstName} ${item.user.personUser.lastName}`;
                        return account
                    }
                },
                general: {
                    store: 'subscriptions',
                    search: true, //'filter', //true,
                    searchFilter: false,
                    multiSelect: false
                }
            }
        },
        secondaryConfig() {
            return {
                option: {
                    'label':(item) => {
                        let account = `${item.user.personUser.firstName} ${item.user.personUser.lastName}`;
                        return account
                    }
                },
                general: {
                    store: 'subscriptions',
                    search: 'filter', //true,
                    searchFilter: false,
                    multiSelect: false
                } 
            }
        }
    }
}
</script>