<template>
    <div style="width: 300px;">
        <h3>Opprett ny administrator</h3>
        <form @submit="onSubmit">
            <p>Administrator navn</p>
            <input type="text" name="Administrator" v-model="newAdministrator.name" class="adminName" :required="true" />
            <p>Velg administratorens selskap - backend søk</p>
            <MainSelect 
                :config="config"
                :options="$store.state.companies.all"
                v-model="newAdministrator.company"
                :value="newAdministrator.company"
                name="Company"
            />
            <Button
                type="submit"
            >Endre</Button>
        </form>
    </div>
</template>

<script>
import MainSelect from '../../../components/Organisms/Select/Main.vue'
import Button from '../../../components/Atoms/Buttons/Button.vue'
export default {
    name: 'NewAdministrator',
    components: {
        MainSelect,
        Button
    },
    data() {
        return {
            newAdministrator: {
                name: '',
                company: ''
            }
        }
    },
    computed: {
        config() {
            return {
                option: {
                    'label':(item) => {
                        let account = `${item.name}`;
                        return account
                    }
                },
                general: {
                    store: 'companies',
                    search: true, //'filter', //true,
                    searchFilter: false,
                    validation: 'required',
                    multiSelect: true
                }
            }
        }
    },
    methods: {
        onSubmit(e) {
            e.preventDefault();
            console.log(this);
            this.$validator.validateAll()
            .then((result) => {
                console.log('Validated ',result);
                console.log(' Skjema ',this.newAdministrator);
            });
        }
    }
}
</script>

<style lang="scss">
input.adminName {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;    
}
</style>