<template>
    <div
        :title="tooltip"
    >
        <p>
            <Icon 
                v-if="icon"
                :path="getIcon"
                :tooltip="tooltip"
                size="36" 
                color="#000000" 
                viewBox="0 0 32 32" 
                style="margin: auto 8px;" 
            />
            <input 
                v-if="input"
                :type="input"
                :checked="value"
                @click="toggleSelect"
            />
            <span v-if="!link && !input">{{value}}</span>
            <router-link :to="link" v-if="link">
                <span>{{value}}</span>
            </router-link>
        </p>
    </div>
</template>

<script>
import { icons } from '../../../assets/constants'
import Icon from '../Icon/SvgIcon'
export default {
    props: [
        'value',
        'tooltip',
        'input',
        'icon',
        'link'
    ],
    components: {
        Icon
    },
    data() {
        return {
            icons: icons
        }
    },
    computed: {
        getIcon() {
            let i = icons[this.icon];
            return i
        }
    },
    methods: {
        toggleSelect(e) {
            console.log(' toggleSelect ',e);
            if(e.shiftKey) {
                this.$emit('toggleShift');
            } else {
                this.$emit('toggle');
            }
        }
    }
}
</script>

<style lang="scss" scoped>
div {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        &.suspended {
            i.illustrationIcon {
                width: 10px; 
                height: 10px; 
                border-radius: 60%;
                display: block;
                margin-right: 8px;
                &.true {
                    background: red;
                }
                &.false {
                    background: green;
                }
            }
        }
    }
}
</style>