<template>
    <div :class="type">
        <slot></slot>
        <p v-if="!isNonDefault">{{value}} - {{type}}</p>
        <p v-if="type === 'user'" >{{value.personUser.firstName.toLowerCase()}} {{value.personUser.lastName.toLowerCase()}}</p>
        <p v-if="type === 'mobileNumber'" >
            <span v-if="!value.secret">{{value.number}}</span>
            <span v-else>Hemmelig nummer</span>
        </p>
        <p v-if="type === 'suspended'" :class="`${type}`" >
            <i :class="'illustrationIcon ' + value"></i>
            <span v-if="value">Ja</span>
            <span v-else>Nei</span>
        </p>
    </div>
</template>

<script>
export default {
    props: [
        'value',
        'type'
    ],
    computed: {
        isNonDefault() {
            switch(this.type) {
                case 'user':
                    return true
                case 'suspended':
                    return true
                case 'mobileNumber':
                    return true
                default:
                    return false
            }
        
        }
    }
}
</script>

<style lang="scss" scoped>
div {
    &.Mobil {
        display: flex;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        &.suspended {
            i.illustrationIcon {
                width: 10px; 
                height: 10px; 
                border-radius: 60%;
                display: block;
                margin-right: 8px;
                &.true {
                    background: red;
                }
                &.false {
                    background: green;
                }
            }
        }
    }
}
</style>