<template>
    <div class="completeList">
        <!--
        <div v-if="filters" class="filters">
            <ul class="filters" v-for="filter in filters" :key="filter.key">
                <p class="header">Filtrer etter {{filter.key.toLowerCase()}}</p>
                <li v-for="opt in filter.values.filter((f,i) => i < 3)" :key="opt.value">
                    <input type="checkbox" v-model="opt.selected" />
                    {{opt.value}}
                </li>
                <button v-if="filter.values.length > 8">Vis alle</button>
            </ul>
        </div>-->
        <Filters v-if="filters" :filters="filters" />
        <div class="main">
            <div>
                <input type="text" name="search" :placeholder="`Søk etter ${config.general.label}`" v-on:keyup="search" v-model="query" class="search" />
            </div>
            <ul class="items headers">
                <p class="selectedFilters" v-if="filterHasValues">Filtrer etter 
                    <span v-for="selectedFilter in selectedFilters" :key="selectedFilter.key"> 
                        <strong v-if="selectedFilter.values.length !== 0">{{selectedFilter.key}} :</strong> 
                        {{selectedFilter.values.toString()}} 
                    </span>
                    <button @click="removeFilters">Fjern filtre</button>
                </p>
                <li class="header">
                    <div v-if="config.general.toggleAll">
                        <input type="checkbox">
                    </div>
                    <div v-for="header in headers" :key="header.key">{{header.label}}</div>
                </li>
            </ul>
            <ul class="items cells" @scroll="handleScroll">
                <li class="item" v-for="(item,itemIndex) in filteredItems" :key="item.id">
                    <div v-for="(key,index) in keys" :key="key">
                        <DynamicListElement
                            :value="config[key](item[keys[index]],item).value"
                            :link="config[key](item[keys[index]],item).link"
                            :icon="config[key](item[keys[index]]).icon"
                            :tooltip="config[key](item[keys[index]]).value"
                            :input="config[key](item[keys[index]]).input"
                            v-on:toggle="toggleSelect(item)"
                            v-on:toggleShift="toggleSelect(item,itemIndex)"
                        />
                    </div>
                </li>
                <div v-if="loading">
                    <h3>Laster inn abonnementer....</h3>
                </div>
            </ul>
        </div>
    </div>
</template>

<script>
import { icons } from '../../../assets/constants'
import DynamicListElement from '../../Atoms/List/DynamicListElement'
import Filters from '../../Molecules/List/Filters'

export default {
    props: {
        keys: Array,
        headers: Array,
        items: Array,
        filters: Array,
        config: Object
    },
    data() {
        return {
            icons: icons,
            loading: true,
            query: ''
        }
    },
    mounted() {
        this.loadData();
    },
    components: {
        DynamicListElement,
        Filters
    },
    methods: {
        handleScroll(e) {
            //console.log(' SCrolllllll ',e,e.target.scrollTop);
            let maxTop = e.target.scrollHeight-e.target.clientHeight;
            let bottom = ((maxTop - e.target.scrollTop) === 0);
            if(bottom) {
                console.log(' Bottom  ? ',maxTop - e.target.scrollTop);
                const storeModule = this.config.general.store;
                // Trigger next page event update
                //this.$emit('updatePage')
                this.$store.commit(`${storeModule}/updatePage`);
                // Trigger data reload
                //this.$emit('getData');
                this.loadData();
            }
        },
        removeFilters() {
            this.filters.forEach(filter => {
                filter.values.forEach(value => value.selected = false);
            });
        },
        toggleSelect(item,i) {
            console.log('Select item in list ',item,i);
            if(i) {
                // Select
                    // Index of last selected
                console.log('Toggle shift ')
                this.$store.commit(`${this.config.general.store}/select`,item);
            } else {
                this.$store.commit(`${this.config.general.store}/select`,item);
            }
        },
        loadData() {
            let endpoint = `${this.config.general.store}/getAll`;
            this.$store.dispatch(endpoint).then(() => {
                this.loading = false;
            });
        },
        search() {
            // Get data with search
            //console.log(' searchData ',this.query);
            if(this.query.length !== 0 && this.query.length < 3) {
                return
            }
            let endpoint = `${this.config.general.store}/searchAll`;
            this.$store.dispatch(endpoint,this.query)
            .then(() => {
                this.loading = false
            });
        },
        
    },
    computed: {
        filteredItems() {
            const { filterHasValues } = this; // selectedFilters,
            if(!filterHasValues) {
                return this.items
            }
            return this.items
            /*
            return this.items.filter(item => {
                let itemHasFilter = false;
                selectedFilters.forEach(selectedFilter => {
                    const itemHasFilterValue = (selectedFilter.values.indexOf(item[selectedFilter.key])+1);
                    if(itemHasFilterValue) {
                        itemHasFilter = true;
                    }
                })
                return itemHasFilter
            });
            */
        },
        selectedFilters() {
            let filters = [];
            this.filters.forEach(filter => {
                filters.push({
                    key: filter.key,
                    values: filter.values.filter(v => v.selected).map(v => v.value)
                });
            })
            return filters
        },
        filterHasValues() {
            const {selectedFilters} = this;
            const filterValues = [];
            selectedFilters.forEach(selectedFilter => {
                selectedFilter.values.forEach(value => {
                    filterValues.push(value)
                });
            });
            return filterValues.length === 0 ? false : true
        }
    }
}
</script>

<style lang="scss" scoped>
div.completeList {
    display: flex;
    div {
        display: flex;
        flex-direction: column;
        &.filters {
            width: 25%;
            width: 35%;
        }
        &.main {
            width: 100%;
            margin-top: 40px;
        }
    }
}
ul {
    display: flex;
    padding-left: 0;
    &.items {
        flex-direction: column;
        li {
            justify-content: space-around;
            &.header {
                background: lightgrey;
            }
        }
        p.selectedFilters {
            display: flex;
            span {
                margin-left: 8px;
            }
            button {
                margin-left: auto;
            }
        }
        &.cells {
            //height: 300px;
            height: 1200px;
            overflow: scroll;
        }
    }
    li {
        display: flex;
        &.header {
            background: lightgrey;
        }
    }    
}
input.search {
    padding: 10px;
    font-size: 16px;
}
</style>
