<template>
    <div>
        <div v-if="filters">
            <ul class="filters" v-for="filter in filters" :key="filter.key">
                <p class="header">Filtrer etter {{filter.key.toLowerCase()}}</p>
                <li v-for="opt in filter.values" :key="opt.value">
                    <input type="checkbox" v-model="opt.selected" />
                    {{opt.value}}
                </li>
            </ul>
        </div>
        <ul class="items">
            <p class="selectedFilters" v-if="filterHasValues">Filtrer etter 
                <span v-for="selectedFilter in selectedFilters" :key="selectedFilter.key"> 
                    <strong v-if="selectedFilter.values.length !== 0">{{selectedFilter.key}} :</strong> 
                    {{selectedFilter.values.toString()}} 
                </span>
                <button @click="removeFilters">Fjern filtre</button>
            </p>
            <li class="header">
                <div v-if="config.general.toggleAll">
                    <input type="checkbox">
                </div>
                <div v-for="header in headers" :key="header.key">{{header.label}}</div>
            </li>
            <li class="item" v-for="item in filteredItems" :key="item.id">
                <!--<div><input type="checkbox" v-model="item.selected" /></div>-->
                <div v-for="(key,index) in keys" :key="key">
                    <DynamicListElement
                        :value="config[key](item[keys[index]]).value"
                        :link="config[key](item[keys[index]],item).link"
                        :icon="config[key](item[keys[index]]).icon"
                        :tooltip="config[key](item[keys[index]]).value"
                    />
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import { icons } from '../../../assets/constants'
//import Icon from '../../Atoms/Icon/SvgIcon'
//import ListElement from '../../Atoms/List/ListElement'
import DynamicListElement from '../../Atoms/List/DynamicListElement'

export default {
    props: {
        keys: Array,
        headers: Array,
        items: Array,
        filters: Array,
        config: Object
    },
    data() {
        return {
            icons: icons
        }
    },
    components: {
        DynamicListElement
    },
    methods: {
        removeFilters() {
            this.filters.forEach(filter => {
                filter.values.forEach(value => value.selected = false);
            });
        },
        cell(key,value) {
            console.log(' list render cell ',this,value);
            
            const cellConfig = this.config[key](value);

            console.log(' cellConfig ',cellConfig);
            return cellConfig
            /*
            return {
                value: "Hello"
            }
            */
        },
    },
    computed: {
        filteredItems() {
            const {selectedFilters, filterHasValues} = this;
            if(!filterHasValues) {
                return this.items
            }
            return this.items.filter(item => {
                let itemHasFilter = false;
                selectedFilters.forEach(selectedFilter => {
                    const itemHasFilterValue = (selectedFilter.values.indexOf(item[selectedFilter.key])+1);
                    if(itemHasFilterValue) {
                        itemHasFilter = true;
                    }
                })
                return itemHasFilter
            });
        },
        selectedFilters() {
            let filters = [];
            this.filters.forEach(filter => {
                filters.push({
                    key: filter.key,
                    values: filter.values.filter(v => v.selected).map(v => v.value)
                });
            })
            return filters
        },
        filterHasValues() {
            const {selectedFilters} = this;
            const filterValues = [];
            selectedFilters.forEach(selectedFilter => {
                selectedFilter.values.forEach(value => {
                    filterValues.push(value)
                });
            });
            return filterValues.length === 0 ? false : true
        },
        getConfiguration() {
            console.log(this.config);
            return 'Name'
        }
    }
}
</script>

<style lang="scss" scoped>
ul {
    display: flex;
    padding-left: 0;
    &.items {
        flex-direction: column;
        li {
            justify-content: space-around;
            &.header {
                background: lightgrey;
            }
        }
        p.selectedFilters {
            display: flex;
            span {
                margin-left: 8px;
            }
            button {
                margin-left: auto;
            }
        }
    }
    &.filters {
        flex-wrap: wrap;
        li {
            margin: 0 8px;
            &.header {
                background: lightgrey;
            }
        }
        p.header {
            width: 100%;
        }
    }
    li {
        display: flex;
        &.header {
            background: lightgrey;
        }
    }    
}
</style>
