<template>
    <div>
        <div v-if="filters">
            <ul class="filters" v-for="filter in filters" :key="filter.key">
                <p class="header">Filtrer etter {{filter.key.toLowerCase()}}</p>
                <li v-for="opt in filter.values" :key="opt.value">
                    <input type="checkbox" v-model="opt.selected" />
                    {{opt.value}}</li>
            </ul>
        </div>
        <ul class="items">
            <p class="selectedFilters" v-if="filterHasValues">Filtrer etter 
                <span v-for="selectedFilter in selectedFilters" :key="selectedFilter.key"> 
                    <strong v-if="selectedFilter.values.length !== 0">{{selectedFilter.key}} :</strong> 
                    {{selectedFilter.values.toString()}} 
                </span>
                <button @click="removeFilters">Fjern filtre</button>
            </p>
            <li class="header">
                <div><input type="checkbox"  ></div>
                <div v-for="key in keys" :key="key">{{key}}</div>
            </li>
            <li class="item" v-for="item in filteredItems" :key="item.id">
                <div><input type="checkbox" v-model="item.selected" /></div>
                <div v-for="(key,index) in keys" :key="key">{{item[keys[index]]}}</div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        keys: Array,
        items: Array,
        filters: Array
    },
    methods: {
        removeFilters() {
            this.filters.forEach(filter => {
                filter.values.forEach(value => value.selected = false);
            });
        }
    },
    computed: {
        filteredItems() {
            const {selectedFilters, filterHasValues} = this;
            if(!filterHasValues) {
                return this.items
            }
            return this.items.filter(item => {
                let itemHasFilter = false;
                selectedFilters.forEach(selectedFilter => {
                    const itemHasFilterValue = (selectedFilter.values.indexOf(item[selectedFilter.key])+1);
                    if(itemHasFilterValue) {
                        itemHasFilter = true;
                    }
                })
                return itemHasFilter
            });
        },
        selectedFilters() {
            let filters = [];
            this.filters.forEach(filter => {
                filters.push({
                    key: filter.key,
                    values: filter.values.filter(v => v.selected).map(v => v.value)
                });
            })
            return filters
        },
        filterHasValues() {
            const {selectedFilters} = this;
            const filterValues = [];
            selectedFilters.forEach(selectedFilter => {
                selectedFilter.values.forEach(value => {
                    filterValues.push(value)
                });
            });
            return filterValues.length === 0 ? false : true
        }
    }
}
</script>

<style lang="scss" scoped>
ul {
    display: flex;
    padding-left: 0;
    &.items {
        flex-direction: column;
        li {
            justify-content: space-around;
            &.header {
                background: lightgrey;
            }
        }
        p.selectedFilters {
            display: flex;
            span {
                margin-left: 8px;
            }
            button {
                margin-left: auto;
            }
        }
    }
    &.filters {
        flex-wrap: wrap;
        li {
            margin: 0 8px;
            &.header {
                background: lightgrey;
            }
        }
        p.header {
            width: 100%;
        }
    }
    li {
        display: flex;
        &.header {
            background: lightgrey;
        }
    }    
}
</style>
