<template>
    <div>
        <p>
            <button v-for="selectedItem in selected" :key="selectedItem.id" @click="deSelect">
                {{selectedItem.Abonnement}} {{selectedItem.Mobil}}
                <i>X</i>
            </button>
        </p>
        <div
            style="display: flex;"
        >
            <input type="text" name="search" placeholder="Search for subscription" v-on:keyup.enter="search" v-model="query" class="search" />
        </div>
        <ul @scroll="handleScroll">
            <li v-for="item in items" :key="item.id">
                <input type="checkbox" v-model="item.selected" @click="selectItem(item)" />
                <p>
                    {{item.Abonnement}} {{item.Mobil}}
                </p>
            </li>
        </ul>
        <span v-if="!loaded">Laster inn ....</span>
    </div>
</template>

<script>
export default {
    name: 'PaginatedList',
    props: ['items','loaded'],
    data() {
        return {
            query: '',
            selected: []
        }
    },
    computed: {
        selectedItems() {
            return this.items.filter(i => i.selected);
        }
    },
    methods: {
        search() {
            console.log('Trigger search ',this.query);
            if(this.query.length > 2) {
                this.$emit('reloadData')
            }
        },
        selectItem(item) {
            this.selected.push(item);
        },
        handleScroll(e) {
            //console.log(' SCrolllllll ',e,e.target.scrollTop);
            let maxTop = e.target.scrollHeight-e.target.clientHeight;
            let bottom = ((maxTop - e.target.scrollTop) === 0);
            console.log(' Bottom  ? ',maxTop - e.target.scrollTop);
            if(bottom) {
                // Trigger next page event update
                this.$emit('updatePage')
                // Trigger data reload
                this.$emit('getData');
            }
        },
        deSelect() {
            console.log(" Deselect this ",this)
        }
    }
}
</script>

<style lang="scss" scoped>
ul {
    overflow: scroll;
    max-height: 300px;
}
input.search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
</style>