<template>
    <div>
        <MainButton @click="login" v-if="!user.firstName">Login</MainButton>
        <div v-if="user && user.firstName">
            <span>Velkommen ❤️ {{userName}}</span>
        </div>
    </div>
</template>


<script>
import MainButton from '../components/Atoms/Buttons/Button.vue'
const backendUrl = process.env.VUE_APP_LOGIN_URL
export default {
    components: {
        MainButton
    },
    created() {
       this.$store.dispatch('auth/isUserLoggedIn')
        .then(() => {
            console.log('Logged in');
        });
    },
    methods: {
        login() {
            window.location.href = `${backendUrl}/redirect/login?override.sso.sp.urn=urn:security:telenor:no:providers:minbedrift-localhost`;
        }
    },
    computed: {
        user() {
            console.log('this.$store ',this.$store);
            return this.$store.state.auth.user
        },
        userName() {
            return this.$store.getters['auth/userName'];
        }
    }
}
</script>