<template>
<div>
    <h3>Bruker informasjon</h3>
    <div>
        <h3>{{info.user.personUser.firstName}} {{info.user.personUser.lastName}}</h3>
        <p>{{info.subscriptionType.type}} - {{info.subscriptionType.accessType}}</p>
        <p>{{info.account.firstAccountReference.referenceText}} - {{info.account.firstAccountReference.accountNumber}}</p>
    </div>
</div>
</template>

<script>
import subscriptions from '../../assets/data/subscriptions.json'

export default {
    computed: {
        info() {
            console.log('info ',this.$route.params.id);
            const userId = this.$route.params.id;
            let subscription = subscriptions.find(s => s.id === userId);

            console.log(subscription)

            return subscription
        }
    }
}
</script>