<template>
  <div id="app">
    <div class="icons">
      <h2>Ikoner</h2>
      <p>Only works for single path icons</p>
      <label for="iconColorSelector">Velg ikon farge
        <input type="color" v-model="iconColor" id="iconColorSelector" style="border: none;" />
      </label>
      <label for="iconSizeSelector">Velg ikon størrelse
        <input type="range" v-model="iconSize" id="iconSizeSelector" style="border: none;" />
      </label>
      <div class="iconOverview">
        <Icon 
              v-for="(icon,i) in icons" 
              :key="i" :path="icon" 
              :size="iconSize" 
              :color="iconColor" 
              viewBox="0 0 32 32" 
              style="margin: auto 8px;" 
              @click="iconSelect"
              
        />
      </div>
      <p>Multi path icons - only works with correct viewboxes</p>
      <div class="iconOverview">
        <MultiPathIcon
          v-for="(icon, i) in multiPathIcons"
          :key="i"
          :paths="icon"
          :size="iconSize" 
          :color="iconColor" 
          style="margin: auto 8px;" 
        />
      </div>
    </div>

    <a href="https://gitlab.com/Amanej/telenor-vue" style="position: absolute; right: 16px; top: 16px;">Repo</a>
  </div>
</template>

<script>
import {icons,multiPathIcons} from '../../assets/constants.js'
import Icon from '../../components/Atoms/Icon/SvgIcon.vue'
import MultiPathIcon from '../../components/Atoms/Icon/MultipathSVGIcon.vue'

export default {
  name: 'icons',
  components: {
    Icon,
    MultiPathIcon
  },
  computed: {
  },
  data() {
    return {
      icons: icons,
      multiPathIcons: multiPathIcons,
      iconColor: '#000000',
      iconSize: '36',
    }
  },
  methods: {
    iconSelect() {
      alert('Du valgte dette ikonet.');
    }
  }
}
</script>

<style lang="scss">
div.icons {
  display: flex;
  flex-direction: column;
  div {
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;      
    }
    &.iconOverview {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }
}

div.added {
  display: flex;
  span {
    padding: 2px 8px;
    background: lightblue;
    border-radius: 4px;
    color: white;
    margin: auto 4px;
  }
}
</style>

