<template>
    <Form>
        <GenericInput type="text" name="navn" placeholder="Ditt navn" />

        <!--
            <GenericInput type="radio" name="general" value="Valg 1" id="Valg 1" label="Valg 1" v-model="general" />
            <GenericInput type="radio" name="general" value="Valg 2" id="Valg 2" label="Valg 2" v-model="general" />
        -->

        <!--
            <GenericInput type="radio" value="valg-1" id="valg-1" v-model="general" />
            <label for="valg-1" >Valg 1</label>

            <GenericInput type="radio" value="valg-2" id="valg-2" v-model="general" />
            <label for="valg-2" >Valg 2</label>
        -->


        <input type="radio" id="one" value="One" v-model="general">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="general">
        <label for="two">Two</label>

        <p>{{general}}</p>

        <RadioButton 
            name="three"
            label="Three"
            :general="general"
        />


        <!--
            <label for="navn">
                <input type="text" name="Navn" id="navn" />
            </label>
            <label for="epost">
                <input type="email" name="Epost" id="epost" />
            </label>
        -->
        <input type="submit" value="Send" />


    </Form>
</template>

<style lang="scss">
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    label {
        margin-bottom: 10px;
    }
}
</style>

<script>
import Form from './Atoms/Form'
import GenericInput from './Atoms/GenericInput'
import RadioButton from './Atoms/Inputs/Radiobutton'

export default {
    components: {
        Form,
        GenericInput,
        RadioButton
    },
    data() {
        return {
            general: ''

        }
    }
}
</script>