<template>
    <form v-on:submit.prevent="submitForm">
        <slot></slot>
    </form>
</template>

<script>
export default {
    methods: {
        submitForm(e) {
            console.log('Submit form ',e);
            e.target.validate();
        }
    }
}
</script>