<template>
<div>
    <label v-for="option in options" :key="option.name" :name="option.name" :id="option.name">
        <input :name="option.name" :id="option.name"  />
        <span :v-if="option.label">{{option.label}}</span>
        
    </label>
</div>
</template>