<template>
    <div>
        <!-- List Header -->
        <div class="listHeader">
            <h3>{{$store.state.subscriptions.all.length}} Abonnement</h3>
            <LightButton v-for="option in ui.options" :key="option.label" style="margin-right: 8px;">
                <router-link :to="option.url">
                    {{option.label}}
                </router-link>
            </LightButton>
        </div>
        <!--
        <h2>Her finner du abonnementer som tilhører din bedrift</h2>
        -->
        <p v-if="selectedSubscriptions.length > 0">{{selectedSubscriptions.length}} valgte abonnementer</p>
        <ConfigurableList 
            :keys="keys"
            :headers="headers"
            :filters="listConfig.filters"
            :items="$store.state.subscriptions.all"
            :config="listConfig"            
        />
        <router-link to="/opprett-abonnement">
            <LightButton> Opprett nytt abonnement</LightButton>
        </router-link>
    </div>
</template>

<script>
import ConfigurableList from '../../components/Organisms/Lists/CompleteList.vue'
import LightButton from '../../components/Atoms/Buttons/LightButton.vue'
import { cell } from '../../helpers/lists.js';

const subTypes = [
    '100 sms MobilHandel registr (1)',
    'Aktive M2M Basis abonnement (3)',
    'BankID på mobil (7602)',
    'Datakort (5064)',
    'Datakort Pilot (15)',
    'Datakort2 (1002)',
    'Fastterminal (1154)',
    'Fastterminal (2) (2)',
    'Fratrekk Faktura MBB 5GB (1)',
    'Fri Bruk SMS (2)',
    'Fri Tale EU (29)',
    'Fri Tale Skandinavia (62)',
    'FriFamilie medlem (2458)',
    'IoT Alert Add on Offer (LTE-M) (2)',
    'IoT Alert Add on Offer (NB-IoT) (20)',
    'MBN Aktiv Bruker (2072)',
    'MBN Mobilt Sentralbord (7)',
    'MBN Mobilt Sentralbord Avansert (1)',
    'MBN Opptak Innsynsrett (4)',
    'MBN Opptak med lagring (5)',
    'Min Sky 10GB ekstra (1)',
    'Min Sky 25GB (81)',
    'Min Sky 5 GB (2)',
    'Min Sky 50GB ekstra (4)',
    'Mine Meldinger (906)',
    'MobilHandel (37)',
    'Music Freedom (17)',
    'Nettvern (1)',
    'Oppgradering til 100 GB Statoil (234)',
    'Oppgradering til 200 GB Statoil (35)',
    'Oppgradering til 400 GB Statoil (7)',
    'Oppgradering til 50 GB Statoil (1309)',
    'Oppgradering til 600 GB Statoil (6)',
    'Oppgradering til 800 GB Statoil (2)',
    'Ring Skandinavia (5)',
    'SikkerMobil (1)',
    'SMS Kopi (213)',
    'Spesifisert Faktura (3)',
    'Surf 100GB (3)',
    'Surf 10GB (53)',
    'Surf 15GB (6)',
    'Surf 1GB (16)',
    'Surf 200MB (14)',
    'Surf 25GB (11)',
    'Surf 35GB (49)',
    'Surf 3GB (6)',
    'Surf 50GB (3)',
    'Surf 5GB (5)',
    'Surf 75GB (6)',
    'Tvilling (4853)',
    'Ukespakke 5 GB utland sone 1 (19)',
    'Visual Voice Mail (141)',
    'Ønskenummer (1)'
]

const settings_filter = [
    '4G Tale (12654)',
    'Beløpsgrense 1000 kr (1)',
    'Beløpslås for datakontroll utland (4)',
    'Data (1)',
    'Data (3)',
    'Data (279)',
    'Datakontroll utenfor EU/EØS (2)',
    'DataKontroll Utland - Bedrift (14255)',
    'Fast sperre for teletorg (482)',
    'MobilFax (7)',
    'MobilSvar (12323)',
    'RCS (428)',
    'Reservasjon mot opplysningstjeneste (13664)',
    'Reservasjon mot visning av bruker (2535)',
    'Reservasjon mot visning av nummer (2518)',
    'Sperr for samtale til utlandet (9)',
    'Sperr for samtale unntatt til Norge (2)',
    'Sperr innkom. anrop/SMS i utland (3)',
    'Sperre for Fortsett Utland (10255)',
    'Sperring av all datatrafikk (4)',
    'Sperring av innkommende samtaler (1)',
    'Sperring av SMS-tjenester (456)',
    'Sperring av utgående tale og data (1)',
    'Sperring for all bruk i utlandet (15)',
    'Viderekobling til mobilsvar (10403)'
]
export default {
    data() {
        return {
            keys: ['input','mobileNumber','user','account'],
            headers: [
                {key: 'input',label: 'Velg'},
                {key: 'mobileNumber',label: 'Mobilnummer'},
                {key: 'user', label:'Bruker'},
                {key: 'account', label:'Konto'}
            ]
        }
    },
    components: {
        ConfigurableList,
        LightButton
    },
    computed: {
        ui() {
            return {
                options: [
                    {
                        label: 'Innportering',
                        url: '#'
                    },
                    {
                        label: 'Eksporter',
                        url: '/eksporter-abonnement'
                    },
                    {
                        label: 'Flytt abonnement',
                        url: '/fra-til-abonnement'
                    },
                    {
                        label: 'Nytt abonnement',
                        url: '/opprett-abonnement'
                    },
                    {
                        label: 'Se oppsagte',
                        url: '#'
                    },
                ]
            }
        },
        selectedSubscriptions() {
            return this.$store.state.subscriptions.selectedSubscriptions
        },
        listConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'mobileNumber':(value) => {
                    //console.log(' mobileNumber ',value);
                    let mobileCell = new cell('',null,null,null,null,null);
                    if(value.secret) {
                        mobileCell.value = 'Hemmelig'
                        return mobileCell
                    }
                    mobileCell.value = value.number
                    return mobileCell
                },
                'account':(value) => {
                    let cellValue = `${value.accountNumber} - REF: ${value.firstAccountReference.referenceText}`;
                    let accountCell = new cell(cellValue,null,null,null,null);
                    return accountCell
                },
                'user':(value,item) => {
                    let userCell = new cell('',null,null,null,null);

                    userCell.value = `${value.personUser.firstName} ${value.personUser.lastName}`;
                    userCell.icon = 'account'
                    userCell.tooltip = 'Her er din tooltip'
                    userCell.input = 
                    userCell.action = ""
                    if(item) {
                        userCell.link = `/bruker/${item.id}`
                    }
                    return userCell
                },
                'filters': [
                    {
                        key: 'Selskaper',
                        values:[
                            {
                                value: 'Alle',selected: false
                            },
                            {
                                value: 'Equinor ASA',selected: false
                            },
                            {
                                value: 'Octio AS',selected: false
                            }
                        ]
                    },
                    {
                        key: 'Abonnementstype', 
                        values: [
                            {
                                value: 'Alle',
                                selected: false
                            },
                            {
                                value: 'M2M',
                                selected: false
                            },
                            {
                                value: 'Mobilt Bredbånd',
                                selected: false
                            },
                            {
                                value: 'Andre',
                                selected: false
                            },
                            {
                                value: 'Mobil Tale',
                                selected: false
                            }
                        ]
                    },
                    {
                        key: 'Abonnement',
                        values: [
                            {
                                value:'Bedrift Flyt S (2)',
                                selected: false
                            },
                            {
                                value: 'Bedrift Fri+ 1GB (1)',
                                selected: false
                            },
                            {
                                value: 'Bedrift Small (822)',
                                selected: false
                            },
                            {
                                value: 'Bedrift Total (13429)',
                                selected: false
                            },
                            {
                                value: 'Fastnettaksess (41)',
                                selected: false
                            },
                            {
                                value: 'LTE-M 10 MB (2)',
                                selected: false
                            },
                            {
                                value: 'M2M Basis (1)',
                                selected: false
                            },
                            {
                                value: 'M2M Basis SH (2)',
                                selected: false
                            },
                            {
                                value: 'M2M Go Norge (1)',
                                selected: false
                            },
                            {
                                value: 'M2M Total (2)',
                                selected: false
                            },
                            {
                                value: 'Mobilt Bredbånd 150GB (3)',
                                selected: false
                            },
                            {
                                value: 'Mobilt Bredbånd 300GB (2)',
                                selected: false
                            },
                            {
                                value: 'Mobilt Bredbånd 5GB (2)',
                                selected: false
                            },
                            {
                                value: 'NB-IoT (20)',
                                selected: false
                            },
                            {
                                value: 'SMS Bedrift (2)',
                                selected: false
                            },
                            {
                                value: 'SMS Bedrift Tilleggsnummer (1)',
                                selected: false
                            },
                            {
                                value: 'Telenor Kontant (2)' ,
                                selected: false
                            }
                        ]
                    },
                    {
                        key: 'Status',
                        values: [
                            {
                                value: 'Aktivt (14287)',
                                selected: false
                            },
                            {
                                value: 'Sperret (48)',
                                selected: false
                            }
                        ]
                    },
                                        {
                        key: 'Tilleggstjenester',
                        values: subTypes.map(sT => {
                            return {value: sT, selected: false}
                        })
                    },
                    {
                        key: 'Innstillinger',
                        values: settings_filter.map(sf => {
                            return { value: sf, selected: false}
                        })
                    }
                ],
                'general': {
                    store: 'subscriptions',
                    label: 'abonnementer',
                    toggleAll: false
                }       
            }
        }
    }
}
</script>

<style lang="scss" scoped>
div.listHeader {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    h3 {
        margin-right: auto;
    }    
}
</style>