<template>
    <div>
        <h2>Her finner du adminstratorer som tilhører din bedrift</h2>
        <p v-if="selectedAdmins.length > 0">{{selectedAdmins.length}} valgte adminstratorer</p>
        <router-link to="/administratorer/ny">
            <MainButton> Opprett ny administrator</MainButton>
        </router-link>
        <ConfigurableList 
            :keys="keys"
            :headers="headers"
            :filters="[]"
            :items="$store.state.admins.all"
            :config="listConfig"            
        />
    </div>
</template>

<script>
import ConfigurableList from '../../components/Organisms/Lists/CompleteList.vue'
import MainButton from '../../components/Atoms/Buttons/Button.vue'
import { cell } from '../../helpers/lists.js';
export default {
    data() {
        return {
            keys: ['input','name','mobile','department'],
            headers: [
                {key: 'input',label: 'Velg'},
                {key: 'name',label: 'Navn'},
                {key: 'mobile', label:'Mobil'},
                {key: 'department', label:'Avdeling'}
            ]
        }
    },
    components: {
        ConfigurableList,
        MainButton
    },
    computed: {
        selectedAdmins() {
            return this.$store.state.admins.selectedAdmins
        },
        listConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'name':(value,item) => {
                    if(!item) {
                        return new cell(null,null,null,null,null,null);
                    }
                    console.log('Name ',item);
                    let nameCell = new cell(`${item.firstName} ${item.lastName}`,null,null,null,null,null);
                    return nameCell
                },
                'mobile':(value) => {
                    let mobileCell = new cell(value,null,null,null,null,null);
                    return mobileCell
                },
                'department':(value) => {
                    let departmentCell = new cell(value,null,null,null,null,null);
                    return departmentCell
                },
                'general': {
                    store: 'admins',
                    label: 'administratorer',
                    toggleAll: false
                }       
            }
        }
    }
}
</script>