<template>
    <div>
        <h2>Her finner du kontoer som tilhører din bedrift</h2>
        <p v-if="selectedAccounts.length > 0">{{selectedAccounts.length}} valgte kontoer</p>
        <ConfigurableList 
            :keys="keys"
            :headers="headers"
            :filters="[]"
            :items="$store.state.accounts.all"
            :config="listConfig"            
        />
        <router-link to="/kontoer/ny">
            <MainButton> Opprett ny konto</MainButton>
        </router-link>
    </div>
</template>

<script>
import ConfigurableList from '../../components/Organisms/Lists/CompleteList.vue'
import MainButton from '../../components/Atoms/Buttons/Button.vue'
import { cell } from '../../helpers/lists.js';
export default {
    data() {
        return {
            keys: ['input','accountNumber','accountReference','payerName','numberOfSubscriptions'],
            headers: [
                {key: 'input',label: 'Velg'},
                {key: 'accountNumber',label: 'Kontonr'},
                {key: 'accountReference', label:'Referanse'},
                {key: 'payerName', label:'Betaler'},
                {key: 'numberOfSubscriptions', label:'Antall abonnement'}
            ]
        }
    },
    components: {
        ConfigurableList,
        MainButton
    },
    computed: {
        selectedAccounts() {
            return this.$store.state.accounts.selectedAccounts
        },
        listConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'accountNumber':(value) => {
                    let accountNumberCell = new cell(value,null,null,null,null,null);
                    return accountNumberCell
                },
                'accountReference':(value) => {
                    let refCell = new cell(value,null,null,null,null);
                    return refCell
                },
                'payerName':(value) => {
                    let payerCell = new cell(value,null,null,null,null);
                    return payerCell
                },
                'numberOfSubscriptions':(value) => {
                    let subCountCell = new cell(value,null,null,null,null);
                    return subCountCell
                },
                'general': {
                    store: 'accounts',
                    label: 'kontoer',
                    toggleAll: false
                }       
            }
        }
    }
}
</script>