<template>
    <div>
        <h2>Her finner du lokalasjoner som tilhører din bedrift</h2>
        <p v-if="selectedLocations.length > 0">{{selectedLocations.length}} valgte lokalasjoner</p>
        <ConfigurableList 
            :keys="keys"
            :headers="headers"
            :filters="[]"
            :items="$store.state.locations.all"
            :config="listConfig"            
        />
    </div>
</template>

<script>
import ConfigurableList from '../../components/Organisms/Lists/CompleteList.vue'
import { cell } from '../../helpers/lists.js';
export default {
    data() {
        return {
            keys: ['input','address','numberOfSubscriptions'],
            headers: [
                {key: 'input',label: 'Velg'},
                {key: 'address',label: 'Adresse'},
                {key: 'numberOfSubscriptions', label:'Antall abonnement'}
            ]
        }
    },
    components: {
        ConfigurableList
    },
    computed: {
        selectedLocations() {
            return this.$store.state.locations.selectedLocations
        },
        listConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'address':(value) => {
                    let accountNumberCell = new cell(value,null,null,null,null,null);
                    return accountNumberCell
                },
                'numberOfSubscriptions':(value) => {
                    let accountNumberCell = new cell(value,null,null,null,null,null);
                    return accountNumberCell
                },
                'general': {
                    store: 'locations',
                    label: 'lokalasjoner',
                    toggleAll: false
                }       
            }
        }
    }
}
</script>