<template>
    <div>
        <h2>Her finner du selskaper som tilhører din bedrift</h2>
        <p v-if="selectedCompanies.length > 0">{{selectedCompanies.length}} valgte selskaper</p>
        <ConfigurableList 
            :keys="keys"
            :headers="headers"
            :filters="[]"
            :items="$store.state.companies.all"
            :config="listConfig"            
        />
    </div>
</template>

<script>
import ConfigurableList from '../../components/Organisms/Lists/CompleteList.vue'
import { cell } from '../../helpers/lists.js';
export default {
    data() {
        return {
            keys: ['input','name','organizationNumber','numberOfAccounts','numberOfSubscriptions','owner'],
            headers: [
                {key: 'input',label: 'Velg'},
                {key: 'name',label: 'Navn'},
                {key: 'organizationNumber', label:'Org. nr.'},
                {key: 'numberOfAccounts', label:'Ant kontoer'},
                {key: 'numberOfSubscriptions', label:'Ant abonnementer'},
                {key: 'owner', label:'Eier'}
            ]
        }
    },
    components: {
        ConfigurableList
    },
    computed: {
        selectedCompanies() {
            return this.$store.state.companies.selectedCompanies
        },
        listConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'name':(value) => {
                    let nameCell = new cell(value,null,null,null,null,null);
                    return nameCell
                },
                'organizationNumber':(value) => {
                    let organizationNumberCell = new cell(value,null,null,null,null,null);
                    return organizationNumberCell
                },
                'numberOfAccounts':(value) => {
                    let numberOfAccountsCell = new cell(value,null,null,null,null,null);
                    return numberOfAccountsCell
                },
                'numberOfSubscriptions':(value) => {
                    let numberOfAccountsCell = new cell(value,null,null,null,null,null);
                    return numberOfAccountsCell
                },
                'owner':(value) => {
                    let numberOfAccountsCell = new cell(value.name,null,null,null,null,null);
                    return numberOfAccountsCell
                },
                'general': {
                    store: 'companies',
                    label: 'selskaper',
                    toggleAll: false
                }       
            }
        }
    }
}
</script>