<template>
    <div>
        <h2>Her finner du SIM kort som tilhører din bedrift</h2>
        <p>{{$store.state.simcards.selectedSimCards.length}} valgte sim kort</p>
        <ConfigurableList 
            :keys="keys"
            :headers="headers"
            :filters="[]"
            :items="$store.state.simcards.all"
            :config="listConfig"            
        />
    </div>
</template>

<script>
import ConfigurableList from '../../components/Organisms/Lists/CompleteList.vue'
import { cell } from '../../helpers/lists.js';
export default {
    data() {
        return {
            keys: ['input','type','mobileNumber','status','subscriptionId'],
            headers: [
                {key: 'input',label: 'Velg'},
                {key: 'type',label: 'Type'},
                {key: 'mobileNumber', label:'Mobilnummer'},
                {key: 'status', label:'Status'},
                {key: 'subscriptionId', label:'Abonnement Id'}
            ]
        }
    },
    components: {
        ConfigurableList
    },
    computed: {
        listConfig() {
            return {
                'input':() => {
                    let checkboxCell = new cell(false,null,null,"checkbox",null,'select');
                    return checkboxCell
                },
                'type':(value) => {
                    let typeCell = new cell(value,null,null,null,null,null);
                    return typeCell
                },
                'mobileNumber':(value) => {
                    //console.log(' mobileNumber ',value);
                    let mobileCell = new cell('',null,null,null,null,null);
                    if(value.secret) {
                        mobileCell.value = 'Hemmelig'
                        return mobileCell
                    }
                    mobileCell.value = value.number
                    return mobileCell
                },
                'status':(value) => {
                    let statusCell = new cell(value,null,null,null,null);
                    return statusCell
                },
                'subscriptionId':(value) => {
                    let subscriptionIdCell = new cell(value,null,null,null,null);
                    return subscriptionIdCell
                },
                'general': {
                    store: 'simcards',
                    label: 'simkort',
                    toggleAll: false
                }
            }
        }
    }
}
</script>