<template>
  <div id="app">
    <!-- Main top -->
    <div class="mainTop">
      <h2 v-if="username">God morgen, {{username}}</h2>
      <h4 v-if="company">{{company}}</h4>
    </div>
    <!-- Options -->
    <div>

    </div>
  </div>
</template>

<script>
export default {
  computed: {
    username() {
      const user = this.$store.state.auth.user;
      return (user && user.firstName) ? user.firstName.toLowerCase() : '';
    },
    company() {
      const user = this.$store.state.auth.user;
      return (user && user.companyName) ? user.companyName.toLowerCase() : '';      
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
body {
  margin: 0;
}

div#app {
  div {
    &.mainTop {
      text-align: center;
      h2 {
      }
    }
  }
}

</style>

