<template>
    <div id="app">
        <nav class="realapp">
            <div class="topMenu">
                <router-link to="/">
                    <h3>Min Bedrift</h3>
                </router-link>
                <div class="rightHandMenu">
                    <span>
                        <Icon
                            :path="icons.expand"
                            :size="'36px'" 
                            color="#fff" 
                            viewBox="0 0 32 32" 
                            style="margin: auto 8px;" 
                            @click="toggleMenu"
                            hoverColor="grey"
                        />
                    </span>
                </div>
                <div class="leftHandMenu">
                    <Login />
                </div>
            </div>
            <!-- Meny -->
            <div class="mainMenu" :class="show ? 'show' : ''">
                <div class="navLinks">
                    <h4>Mobil</h4>
                    <router-link to="/abonnementer">Abonnementer</router-link>
                    <router-link to="/kontoer">Kontoer</router-link>
                    <router-link to="/selskaper">Selskaper</router-link>
                    <router-link to="/administratorer">Administratorer</router-link>
                    <router-link to="/simkort">Simkort</router-link>
                    <router-link to="/lokalasjoner">Lokalasjoner</router-link>
                </div>
                <div class="navLinks">
                    <h4>Fastnett</h4>
                    <router-link to="/abonnementer">Abonnementer</router-link>
                    <router-link to="/kontoer">Kontoer</router-link>
                    <router-link to="/lokalasjoner">Lokalasjoner</router-link>
                </div>
                <div class="navLinks">
                    <h4>Annet</h4>
                    <router-link to="/administratorer">Administratorer</router-link>
                </div>
            </div>
        </nav>
        <a href="https://gitlab.com/Amanej/telenor-vue" class="repoLink">Repo</a>
        <div class="page">
            <router-view></router-view>
        </div>
        <div class="footer">
            <router-link to="/documentation">Dokumentasjon</router-link>
            <a href="https://silly-jennings-b48c76.netlify.com/" target="_blank">Component documentation</a>
        </div>
    </div>
</template>

<script>
import Login from './Pages/Login.vue'
import Icon from './components/Atoms/Icon/SvgIcon.vue'
import {icons} from './assets/constants' // multiPathIcons
export default {
    components: {
        Login,
        Icon
    },
    data() {
        return {
            show: false
        }
    },
    computed: {
        icons() {
            return icons
        }
    },
    methods: {
        toggleMenu() {
            console.log('Change show')
            this.show = !this.show
        }
    }
}
</script>

<style lang="scss">
nav {
    display: flex;
    flex-direction: column;
    &.realapp {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: #22282e;
        color: white;
        div {
            &.topMenu {
                padding: 8px 16px;
                display: flex;
                width: 100%;
                align-items: center;
                h3 {
                    color: white;
                }
                div.leftHandMenu {
                    margin-left: auto;
                }
            }
            &.mainMenu {
                width: 100%;
                display: none;
                background: lightgrey;
                background-color: #e0eeef;
                padding: 8px 16px;
                div.navLinks {
                    display: flex;
                    flex-direction: column;
                    margin: 0 16px;
                    h4 {
                        color: #4e5358;
                        margin: 10px 0;
                    }
                    a {
                        color: #007ac8;
                        text-decoration: none;
                    }
                }
                &.show {
                    display: flex;
                } 
            }
        }
    }
}
a.repoLink {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    border-radius: 0px 0px 0px 4px;
    padding: 2px 14px;
    font-size: 12px;
    color: black;
    text-decoration: none;    
}
div.page {
    background-color: #F6F6F6;
    padding: 16px 32px;    
}
div.footer {
    background: #22272e;
    position: fixed;
    bottom: 0;
    font-size: 10px;
    width: 100%;
    color: white;
    padding: 5px;
    a {
        color: white;
        text-decoration: none;
        padding: 5px;        
    }    
}
div.extralogin {
    margin: 10% auto;
    display: block;
    text-align: center;    
}
</style>